
/* PRUEBA DE FONDO*/
body{
	background-color: #3a2640;
}
/*PRUEBA DE FONDO*/
 /* Inicio Slider galeria*/
 .padding{
 	padding-top: 3%;
	padding-bottom: 3%;
 }
.frase{
	font-size: 40px;
	text-align: center;
	color: white;
}
.author{
	text-align: right;
	color: white;
}
.slider{
 	max-height: 400px;
	width: 95%;
	margin: auto;
	overflow: hidden;
}
.slider ul{
	padding: 0;
	display: flex;
	width: 1000%;
	animation: cambio 50s infinite alternate;
	animation-timing-function: linear;
}
.slider li{
	list-style: none;
	width: 100%;
}
.slider img{
	width: 100%;
}
@keyframes cambio{
	0% {margin-left: -0;}
	10% {margin-left: -0;}

	10% {margin-left: -100%;}
	20%{margin-left: -100%;}

	20% {margin-left: -200%;}
	30% {margin-left: -200%;}

	30% {margin-left: -300%;}
	40% {margin-left: -300%;}

	40% {margin-left: -400%;}
	50% {margin-left: -400%;}

	50% {margin-left: -500%;}
	60% {margin-left: -500%;}
	
	60% {margin-left: -600%;}
	70% {margin-left: -600%;}

	70% {margin-left: -700%;}
	80% {margin-left: -700%;}

	80% {margin-left: -800%;}
	90% {margin-left: -800%;}

	90% {margin-left: -800%;}
	100% {margin-left: -800%;}
}
/* Fin Slider galeria*/

/*CSS CARO */
.cajaT{
	padding: 25px;
	float: left;
	border:2px solid #690570;
	margin:0 auto;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	height: 150px;

}
.tituloH h3{
	background-color: #690570;
	border:2px solid #690570;
	color:white;
}

.cajaF{
	padding: 100px;
}
.fraseC{
	padding: 100px;
}


.col-12{
	background-color: #565656; 
	opacity: 0.5; 
	width: 100%; 
	padding: 65px;
	left: 20px;
	}

#footer{
	background-color: #212121; 
	width:100%; 
	min-height: 70px; 
	font-size: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: #C1B5B5;
	}

.box{
	margin-left:410px;
}
.icon{
	padding-top: 10px;
	color: white;
	display: inline-block;
	left: 60px;
}
.iconos{
	margin-left: 150px;
}
.maps img {
	margin-top: 30px;
	width: 100%;
	height: 350px;

}

.direction {
	margin-left: 0;
	font-family: Helvetica;
}

.direction h4 {
	font-size: 20px;
	color: #690570;
	margin-top: 40px;
}

.ubication p {
	font-size: 16px;
}

.listas ul li {
	list-style-type: none;
	margin-top: 10px;
}

.listas li a {
	text-decoration: none;
	color: black;
}

.listas ul li:hover a {
	color: #690570;
}

.formulario {
	margin-top: 40px;
}

.formulario .enviar {
	margin-top: 30px;
	width: 60px;
}
